[package]
name = "namui-hooks"
version = "0.1.0"
edition = "2024"

[package.metadata.namui]
targets = [
    "x86_64-pc-windows-msvc",
    "x86_64-unknown-linux-gnu",
    "wasm32-wasi-web",
    "aarch64-apple-darwin",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
boxcar = "0.2.14"
elsa = { version = "1.11.2", features = ["indexmap"] }
namui-skia = { path = "../skia" }
namui-type = { path = "../namui-type" }
rustc-hash = "1.1.0"
smol_str = "0.2.1"
tokio = { path = "../third-party-forks/tokio/tokio", features = ["rt"] }
typed-arena = "2.0.2"

[dev-dependencies]
tokio = { path = "../third-party-forks/tokio/tokio", features = [
    "rt",
    "rt-multi-thread",
    "sync",
] }
criterion = { version = "0.5", default-features = false }

[[bench]]
name = "translate_benchmark"
harness = false
