[submodule "namui/third-party-forks/reqwest"]
	path = namui/third-party-forks/reqwest
	url = https://github.com/NamseEnt/reqwest.git
[submodule "namui/third-party-forks/rust-skia"]
	path = namui/third-party-forks/rust-skia
	url = https://github.com/namseent/rust-skia
