---
import { getSessionUser } from "@/utils/auth.ts";
import "../../styles/global.css";
import FundingDetail from "../../components/funding/FundingDetail.tsx";
import { db, Funding, eq } from "astro:db";

export const prerender = false;

const { id } = Astro.params;
const sessionUser = await getSessionUser(Astro.request);

const fundingResults = await db
  .select()
  .from(Funding)
  .where(eq(Funding.id, id!));
const funding = fundingResults[0] || null;

if (!funding) {
  return Astro.redirect("/404");
}
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{funding.title} - 하연이에게 저녁을</title>
  </head>
  <body>
    <FundingDetail session={session} funding={funding} client:load />
  </body>
</html>
