---
import { getSessionUser } from "@/utils/auth.ts";
import "../styles/global.css";
import GlobalNavigation from "../components/common/GlobalNavigation.tsx";
import { db, User, eq } from "astro:db";

export const prerender = false;

interface Props {
  title?: string;
  showGnb?: boolean;
}

const { title = "하연이에게 저녁을", showGnb = true } = Astro.props;

const sessionUser = (await getSessionUser(Astro.request));

const gnb = sessionUser
  ? {
      sessionUser,
      userTickets: (
        await db.select().from(User).where(eq(User.id, sessionUser.id))
      )[0]!.tickets,
    }
  : { sessionUser: null };
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gray-50">
    {showGnb && <GlobalNavigation {...gnb} client:load />}
    <main>
      <slot />
    </main>
  </body>
</html>