rarity_weights = [
    90,
    10,
    1,
    0,
]

[player]
max_hp = 100.0
starting_gold = 100
starting_hp = 100.0
base_dice_chance = 1
max_stages = 50
base_hand_slots = 5

[monsters.stats.Mob01]
base_hp = 36.05904
velocity_mul = 1.0
damage = 1.0
reward = 3

[monsters.stats.Mob02]
base_hp = 46.876752
velocity_mul = 1.0
damage = 1.0
reward = 3

[monsters.stats.Mob03]
base_hp = 64.906272
velocity_mul = 1.0
damage = 1.0
reward = 3

[monsters.stats.Mob04]
base_hp = 108.17712
velocity_mul = 1.0
damage = 1.0
reward = 3

[monsters.stats.Mob05]
base_hp = 126.20664
velocity_mul = 1.0
damage = 1.0
reward = 3

[monsters.stats.Mob06]
base_hp = 147.842064
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob07]
base_hp = 171.28044
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob08]
base_hp = 189.30996
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob09]
base_hp = 207.33948
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob10]
base_hp = 243.39852
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob11]
base_hp = 216.35424
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob12]
base_hp = 234.38376
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob13]
base_hp = 252.41328
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob14]
base_hp = 342.56088
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob15]
base_hp = 459.75276
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob16]
base_hp = 622.01844
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob17]
base_hp = 838.37268
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob18]
base_hp = 933.02766
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob19]
base_hp = 1185.766373
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob20]
base_hp = 1592.707964
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob21]
base_hp = 1728.26291
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob22]
base_hp = 2373.186053
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob23]
base_hp = 2490.412189
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob24]
base_hp = 2615.344142
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob25]
base_hp = 3352.929802
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob26]
base_hp = 3673.178149
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob27]
base_hp = 4193.11545
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob28]
base_hp = 4291.952277
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob29]
base_hp = 4748.906455
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob30]
base_hp = 6013.03423
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob31]
base_hp = 16171.418703
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob32]
base_hp = 23438.603372
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob33]
base_hp = 26120.204998
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob34]
base_hp = 38573.178436
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob35]
base_hp = 43620.985285
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob36]
base_hp = 45058.829489
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob37]
base_hp = 52795.598014
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob38]
base_hp = 65493.352235
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob39]
base_hp = 79727.845582
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob40]
base_hp = 87542.601798
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob41]
base_hp = 254749.071426
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob42]
base_hp = 283129.513143
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob43]
base_hp = 310143.098887
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob44]
base_hp = 386285.263701
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob45]
base_hp = 438620.037481
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob46]
base_hp = 1761841.613186
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob47]
base_hp = 1827345.308055
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob48]
base_hp = 1965757.863151
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob49]
base_hp = 2056295.81542
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Mob50]
base_hp = 508121.593006
velocity_mul = 1.0
damage = 1.0
reward = 5

[monsters.stats.Boss01]
base_hp = 189.30996
velocity_mul = 1.0
damage = 15.0
reward = 50

[monsters.stats.Boss02]
base_hp = 365.09778
velocity_mul = 1.0
damage = 20.0
reward = 75

[monsters.stats.Boss03]
base_hp = 689.62914
velocity_mul = 1.0
damage = 20.0
reward = 100

[monsters.stats.Boss04]
base_hp = 2389.061946
velocity_mul = 1.0
damage = 25.0
reward = 100

[monsters.stats.Boss05]
base_hp = 5029.394703
velocity_mul = 1.0
damage = 25.0
reward = 125

[monsters.stats.Boss06]
base_hp = 9019.551345
velocity_mul = 1.0
damage = 25.0
reward = 125

[monsters.stats.Boss07]
base_hp = 65431.4779275
velocity_mul = 1.0
damage = 50.0
reward = 125

[monsters.stats.Boss08]
base_hp = 131313.902697
velocity_mul = 1.0
damage = 50.0
reward = 125

[monsters.stats.Boss09]
base_hp = 657930.0562215
velocity_mul = 1.0
damage = 50.0
reward = 125

[monsters.stats.Boss10]
base_hp = 2642762.419779
velocity_mul = 1.0
damage = 50.0
reward = 125

[monsters.stats.Boss11]
base_hp = 2741017.9620825
velocity_mul = 1.0
damage = 50.0
reward = 125

[monsters.stats.Boss12]
base_hp = 2948636.7947265
velocity_mul = 1.0
damage = 50.0
reward = 125

[monsters.stats.Boss13]
base_hp = 3084443.72313
velocity_mul = 1.0
damage = 50.0
reward = 125

[monsters.stats.Boss14]
base_hp = 762182.389509
velocity_mul = 1.0
damage = 50.0
reward = 125

[[monsters.stage_waves]]
stage = 1

[[monsters.stage_waves.entries]]
kind = "Mob01"
count = 5

[[monsters.stage_waves]]
stage = 2

[[monsters.stage_waves.entries]]
kind = "Mob02"
count = 5

[[monsters.stage_waves]]
stage = 3

[[monsters.stage_waves.entries]]
kind = "Mob03"
count = 5

[[monsters.stage_waves]]
stage = 4

[[monsters.stage_waves.entries]]
kind = "Mob04"
count = 5

[[monsters.stage_waves]]
stage = 5

[[monsters.stage_waves.entries]]
kind = "Mob05"
count = 5

[[monsters.stage_waves.entries]]
kind = "Boss01"
count = 1

[[monsters.stage_waves]]
stage = 6

[[monsters.stage_waves.entries]]
kind = "Mob06"
count = 7

[[monsters.stage_waves]]
stage = 7

[[monsters.stage_waves.entries]]
kind = "Mob07"
count = 7

[[monsters.stage_waves]]
stage = 8

[[monsters.stage_waves.entries]]
kind = "Mob08"
count = 7

[[monsters.stage_waves]]
stage = 9

[[monsters.stage_waves.entries]]
kind = "Mob09"
count = 7

[[monsters.stage_waves]]
stage = 10

[[monsters.stage_waves.entries]]
kind = "Mob10"
count = 7

[[monsters.stage_waves.entries]]
kind = "Boss02"
count = 1

[[monsters.stage_waves]]
stage = 11

[[monsters.stage_waves.entries]]
kind = "Mob11"
count = 9

[[monsters.stage_waves]]
stage = 12

[[monsters.stage_waves.entries]]
kind = "Mob12"
count = 9

[[monsters.stage_waves]]
stage = 13

[[monsters.stage_waves.entries]]
kind = "Mob13"
count = 9

[[monsters.stage_waves]]
stage = 14

[[monsters.stage_waves.entries]]
kind = "Mob14"
count = 9

[[monsters.stage_waves]]
stage = 15

[[monsters.stage_waves.entries]]
kind = "Mob15"
count = 8

[[monsters.stage_waves.entries]]
kind = "Boss03"
count = 1

[[monsters.stage_waves]]
stage = 16

[[monsters.stage_waves.entries]]
kind = "Mob16"
count = 10

[[monsters.stage_waves]]
stage = 17

[[monsters.stage_waves.entries]]
kind = "Mob17"
count = 10

[[monsters.stage_waves]]
stage = 18

[[monsters.stage_waves.entries]]
kind = "Mob18"
count = 10

[[monsters.stage_waves]]
stage = 19

[[monsters.stage_waves.entries]]
kind = "Mob19"
count = 10

[[monsters.stage_waves]]
stage = 20

[[monsters.stage_waves.entries]]
kind = "Mob20"
count = 10

[[monsters.stage_waves.entries]]
kind = "Boss04"
count = 1

[[monsters.stage_waves]]
stage = 21

[[monsters.stage_waves.entries]]
kind = "Mob21"
count = 11

[[monsters.stage_waves]]
stage = 22

[[monsters.stage_waves.entries]]
kind = "Mob22"
count = 11

[[monsters.stage_waves]]
stage = 23

[[monsters.stage_waves.entries]]
kind = "Mob23"
count = 11

[[monsters.stage_waves]]
stage = 24

[[monsters.stage_waves.entries]]
kind = "Mob24"
count = 11

[[monsters.stage_waves]]
stage = 25

[[monsters.stage_waves.entries]]
kind = "Mob25"
count = 10

[[monsters.stage_waves.entries]]
kind = "Boss05"
count = 1

[[monsters.stage_waves]]
stage = 26

[[monsters.stage_waves.entries]]
kind = "Mob26"
count = 11

[[monsters.stage_waves]]
stage = 27

[[monsters.stage_waves.entries]]
kind = "Mob27"
count = 11

[[monsters.stage_waves]]
stage = 28

[[monsters.stage_waves.entries]]
kind = "Mob28"
count = 11

[[monsters.stage_waves]]
stage = 29

[[monsters.stage_waves.entries]]
kind = "Mob29"
count = 11

[[monsters.stage_waves]]
stage = 30

[[monsters.stage_waves.entries]]
kind = "Mob30"
count = 10

[[monsters.stage_waves.entries]]
kind = "Boss06"
count = 1

[[monsters.stage_waves]]
stage = 31

[[monsters.stage_waves.entries]]
kind = "Mob31"
count = 12

[[monsters.stage_waves]]
stage = 32

[[monsters.stage_waves.entries]]
kind = "Mob32"
count = 12

[[monsters.stage_waves]]
stage = 33

[[monsters.stage_waves.entries]]
kind = "Mob33"
count = 12

[[monsters.stage_waves]]
stage = 34

[[monsters.stage_waves.entries]]
kind = "Mob34"
count = 12

[[monsters.stage_waves]]
stage = 35

[[monsters.stage_waves.entries]]
kind = "Mob35"
count = 11

[[monsters.stage_waves.entries]]
kind = "Boss07"
count = 1

[[monsters.stage_waves]]
stage = 36

[[monsters.stage_waves.entries]]
kind = "Mob36"
count = 13

[[monsters.stage_waves]]
stage = 37

[[monsters.stage_waves.entries]]
kind = "Mob37"
count = 13

[[monsters.stage_waves]]
stage = 38

[[monsters.stage_waves.entries]]
kind = "Mob38"
count = 13

[[monsters.stage_waves]]
stage = 39

[[monsters.stage_waves.entries]]
kind = "Mob39"
count = 13

[[monsters.stage_waves]]
stage = 40

[[monsters.stage_waves.entries]]
kind = "Mob40"
count = 12

[[monsters.stage_waves.entries]]
kind = "Boss08"
count = 1

[[monsters.stage_waves]]
stage = 41

[[monsters.stage_waves.entries]]
kind = "Mob41"
count = 14

[[monsters.stage_waves]]
stage = 42

[[monsters.stage_waves.entries]]
kind = "Mob42"
count = 14

[[monsters.stage_waves]]
stage = 43

[[monsters.stage_waves.entries]]
kind = "Mob43"
count = 14

[[monsters.stage_waves]]
stage = 44

[[monsters.stage_waves.entries]]
kind = "Mob44"
count = 14

[[monsters.stage_waves]]
stage = 45

[[monsters.stage_waves.entries]]
kind = "Mob45"
count = 13

[[monsters.stage_waves.entries]]
kind = "Boss09"
count = 1

[[monsters.stage_waves]]
stage = 46

[[monsters.stage_waves.entries]]
kind = "Mob46"
count = 14

[[monsters.stage_waves.entries]]
kind = "Boss10"
count = 1

[[monsters.stage_waves]]
stage = 47

[[monsters.stage_waves.entries]]
kind = "Mob47"
count = 14

[[monsters.stage_waves.entries]]
kind = "Boss11"
count = 1

[[monsters.stage_waves]]
stage = 48

[[monsters.stage_waves.entries]]
kind = "Mob48"
count = 14

[[monsters.stage_waves.entries]]
kind = "Boss12"
count = 1

[[monsters.stage_waves]]
stage = 49

[[monsters.stage_waves.entries]]
kind = "Mob49"
count = 14

[[monsters.stage_waves.entries]]
kind = "Boss13"
count = 1

[[monsters.stage_waves]]
stage = 50

[[monsters.stage_waves.entries]]
kind = "Mob50"
count = 14

[[monsters.stage_waves.entries]]
kind = "Boss14"
count = 1

[towers.stats.Barricade]
damage = 0.0
range = 4.0
cooldown_ms = 1000

[towers.stats.Flush]
damage = 32.0
range = 9.0
cooldown_ms = 1000

[towers.stats.FourOfAKind]
damage = 100.0
range = 11.0
cooldown_ms = 1000

[towers.stats.FullHouse]
damage = 50.0
range = 11.0
cooldown_ms = 1000

[towers.stats.High]
damage = 5.0
range = 4.0
cooldown_ms = 1000

[towers.stats.OnePair]
damage = 6.0
range = 5.0
cooldown_ms = 1000

[towers.stats.RoyalFlush]
damage = 1200.0
range = 15.0
cooldown_ms = 1000

[towers.stats.Straight]
damage = 14.0
range = 9.0
cooldown_ms = 500

[towers.stats.StraightFlush]
damage = 250.0
range = 14.0
cooldown_ms = 500

[towers.stats.ThreeOfAKind]
damage = 12.0
range = 7.0
cooldown_ms = 1000

[towers.stats.TwoPair]
damage = 10.0
range = 6.0
cooldown_ms = 1000

[towers.rank_bonus_damage]
Two = 0
Three = 0
Four = 0
Five = 1
Six = 1
Seven = 1
Eight = 2
Nine = 3
Ten = 4
Jack = 6
Queen = 8
King = 10
Ace = 15

[items.heal]
weight = 100.0
min_value = 10.0
max_value = 14.0

[items.extra_reroll]
weight = 10.0
min_value = 0.0
max_value = 0.0

[items.shield]
weight = 10.0
min_value = 15.0
max_value = 25.0

[items.damage_reduction]
weight = 10.0
min_value = 0.8
max_value = 0.85

[items.grant_barricades]
weight = 45.0
min_value = 5.0
max_value = 10.0

[items.grant_card]
weight = 35.0
min_value = 0.0
max_value = 0.0

[shop]
base_cost = 50.0
value_cost_multiplier = 0.5
slot_type_distribution = [3, 5, 2]

[[upgrades.tower_damage_upgrades]]
name = "CainSword"

[upgrades.tower_damage_upgrades.entry]
weight = 13.0
damage_multiplier_range = [1.15, 1.5]

[[upgrades.tower_damage_upgrades]]
name = "LongSword"

[upgrades.tower_damage_upgrades.entry]
weight = 13.0
damage_multiplier_range = [1.15, 1.5]

[[upgrades.tower_damage_upgrades]]
name = "Mace"

[upgrades.tower_damage_upgrades.entry]
weight = 13.0
damage_multiplier_range = [1.15, 1.5]

[[upgrades.tower_damage_upgrades]]
name = "ClubSword"

[upgrades.tower_damage_upgrades.entry]
weight = 13.0
damage_multiplier_range = [1.15, 1.5]

[[upgrades.tower_damage_upgrades]]
name = "Spoon"

[upgrades.tower_damage_upgrades.entry]
weight = 50.0
damage_multiplier_range = [1.3, 1.75]

[[upgrades.tower_damage_upgrades]]
name = "SingleChopstick"

[upgrades.tower_damage_upgrades.entry]
weight = 20.0
damage_multiplier_range = [1.2, 1.4]

[[upgrades.tower_damage_upgrades]]
name = "PairChopsticks"

[upgrades.tower_damage_upgrades.entry]
weight = 20.0
damage_multiplier_range = [1.2, 1.4]

[[upgrades.tower_damage_upgrades]]
name = "FountainPen"

[upgrades.tower_damage_upgrades.entry]
weight = 20.0
damage_multiplier_range = [1.2, 1.4]

[[upgrades.tower_damage_upgrades]]
name = "Brush"

[upgrades.tower_damage_upgrades.entry]
weight = 20.0
damage_multiplier_range = [1.2, 1.4]

[[upgrades.tower_damage_upgrades]]
name = "BrokenPottery"

[upgrades.tower_damage_upgrades.entry]
weight = 20.0
damage_multiplier_range = [1.15, 1.25]

[[upgrades.treasure_upgrades]]
name = "Magnet"

[upgrades.treasure_upgrades.entry]
weight = 50.0

[[upgrades.treasure_upgrades]]
name = "Backpack"

[upgrades.treasure_upgrades.entry]
weight = 50.0

[[upgrades.treasure_upgrades]]
name = "DiceBundle"

[upgrades.treasure_upgrades.entry]
weight = 10.0

[[upgrades.treasure_upgrades]]
name = "EnergyDrink"

[upgrades.treasure_upgrades.entry]
weight = 10.0

[[upgrades.treasure_upgrades]]
name = "PerfectPottery"

[upgrades.treasure_upgrades.entry]
weight = 25.0
damage_multiplier_range = [1.3, 1.75]

[[upgrades.treasure_upgrades]]
name = "BrokenPottery"

[upgrades.treasure_upgrades.entry]
weight = 20.0
damage_multiplier_range = [1.15, 1.25]

[[upgrades.treasure_upgrades]]
name = "FourLeafClover"

[upgrades.treasure_upgrades.entry]
weight = 10.0

[[upgrades.treasure_upgrades]]
name = "Rabbit"

[upgrades.treasure_upgrades.entry]
weight = 10.0

[[upgrades.treasure_upgrades]]
name = "BlackWhite"

[upgrades.treasure_upgrades.entry]
weight = 10.0

[[upgrades.treasure_upgrades]]
name = "Eraser"

[upgrades.treasure_upgrades.entry]
weight = 10.0
