---
import { getSessionUser } from "@/utils/auth.ts";
import "../styles/global.css";
import ChargeTicketsComponent from "../components/charge-tickets/ChargeTickets.tsx";
import { db, User, eq } from "astro:db";

export const prerender = false;

const sessionUser = await getSessionUser(Astro.request);

// 로그인하지 않았다면 홈으로 리다이렉트
if (!session) {
  return Astro.redirect("/");
}

// 사용자 티켓 정보 조회
const userResults = await db
  .select()
  .from(User)
  .where(eq(User.id, session.user!.id!));
const userTickets = userResults[0]!.tickets;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>티켓 충전 - 하연이에게 저녁을</title>
  </head>
  <body>
    <ChargeTicketsComponent
      session={session}
      userTickets={userTickets}
      client:load
    />
  </body>
</html>
