name: test-and-fmt-clippy
on:
  pull_request:

permissions:
  contents: write

concurrency:
  group: ${{ github.ref }}-test-and-fmt-clippy
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -D warnings

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Fast parallel submodule checkout
        run: |
          git submodule update --init --recursive --jobs 16 --depth 1

      - name: Set up cargo
        run: |
          rustup update
          rustup target add ${{ matrix.target }}

      - name: Dependency - x86_64-unknown-linux-gnu
        if: matrix.target == 'x86_64-unknown-linux-gnu'
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev libfontconfig-dev

      - name: Create workspace
        run: |
          cargo run --manifest-path github-actions-tools/workspace-maker/Cargo.toml ${{ matrix.target }}

      - name: Workspace cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Run commands
        run: |
          cargo test

  post-test:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - run: |
          echo ${{ join(needs.*.result, ',') }}
          any_test_failed=${{ contains(join(needs.*.result, ','), 'failure') }}
          echo $any_test_failed
          if [[ $any_test_failed == "true" ]]; then
              echo "::error::There are failed job"
              exit 1
          else
              echo "Good. No test failed"
          fi

  fmt-clippy:
    needs:
      - post-test
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: wasm32-wasip1-threads
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      actions: read
    steps:
      - name: Check if code artifact exists
        id: check-code
        uses: softwareforgood/check-artifact-v4-existence@v0
        with:
          name: code-${{ matrix.target }}

      - name: Download code if exists
        if: steps.check-code.outputs.exists == 'true'
        uses: actions/download-artifact@v4
        with:
          name: code-${{ matrix.target }}
          path: .

      - name: Checkout if first job
        if: steps.check-code.outputs.exists == 'false'
        uses: actions/checkout@v4

      - name: Fast parallel submodule checkout
        if: steps.check-code.outputs.exists == 'false'
        run: |
          git submodule update --init --recursive --jobs 16 --depth 1

      - name: Set up cargo
        run: |
          rustup update
          rustup target add ${{ matrix.target }}

      - name: Dependency - x86_64-unknown-linux-gnu
        if: matrix.target == 'x86_64-unknown-linux-gnu'
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev libfontconfig-dev

      - name: namui-cli cache
        if: matrix.target == 'wasm32-wasip1-threads'
        uses: actions/cache@v4
        with:
          path: |
            namui/namui-cli/binaryen
            namui/namui-cli/emscripten
            namui/namui-cli/target
            namui/namui-cli/wasi-sdk
          key: ${{ matrix.os }}-namui-cli

      - name: Install wasi-sdk
        if: matrix.target == 'wasm32-wasip1-threads'
        working-directory: namui/namui-cli
        run: |
          cargo build

      - name: Create workspace Cargo.toml
        run: |
          cargo run --manifest-path github-actions-tools/workspace-maker/Cargo.toml ${{ matrix.target }}

      - name: Workspace cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - run: cargo fmt --all

      - run: cargo clippy --target ${{ matrix.target }} --tests --fix --allow-dirty

      - name: Upload code for next job
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: code-${{ matrix.target }}-${{ github.run_id }}
          path: |
            .
            !target
          overwrite: true

  post-test-and-fmt-clippy:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - test
      - fmt-clippy
    steps:
      - run: |
          echo ${{ join(needs.*.result, ',') }}
          any_test_failed=${{ contains(join(needs.*.result, ','), 'failure') }}
          echo $any_test_failed
          if [[ $any_test_failed == "true" ]]; then
              echo "::error::There are failed job"
              exit 1
          else
              echo "Good. No test failed"
          fi
